[build]
rustflags = [
    "-Z", "threads=8",
    "-Z", "location-detail=none",
    "-C", "link-arg=-Wl,-z,pack-relative-relocs",
    "-C", "symbol-mangling-version=v0",
    "-C", "link-args=-Wl,--icf=all",
]